<div class="section-eight">
  <div class="container">
    <div class="row">
      <div class="section-eight-image pull-left">
        <img src="img/home/gift.jpg" alt="" class="img-responsive">
      </div>

      <div class="section-eight-content pull-left text-left">
        <p class="heading">no fees, only lifetime rewards!</p>
        <p>We do not charge you any advisory fees. In fact, we have a reward program whereby you earn reward points from every client you refer.</p>
      </div>
    </div>
  </div>

  <footer class="text-center">
    <div class="links">
      <a href="">Contact us</a> |
      <a href="">Follow us</a> |
      <a href="">About us</a> |
      <a href="">Whitepaper</a> |
      <a href="">Feedback</a> |
      <a href="">Careers</a>
    </div>

    <p class="copyright">Copyright &copy; Seven Advisers Pvt. Ltd. All Rights Reserved | Privacy Policy | T&amp;C</p>
  </footer>
</div>
