<div class="section-seven">
  <div class="container">
    <h2 class="text-center">An advisor, worthy of your trust</h2>

    <div class="row">
      <div class="section-seven-image">
        <img src="" alt="" class="img-responsive">
      </div>

      <div class="section-seven-content text-left">
        <p>We advise investments in Mutual funds, as they are regulated by SEBI &amp; have a credible track record</p>
        <p>We are an AMFI certified &amp; registered Mutual fund distributor</p>
        <p>Transactions are processed by country's most trusted stock exchange, NSE</p>
        <p>Transparent &amp; unbiased product selection using credible third party research</p>
      </div>
    </div>

  </div>
</div>
