<div class="section-two">
  <div class="">

    <div class="section-two-content pull-left text-center">
      <h3>Dedicated Portfolios</h3>
      <p class="text-left">To you, money is not just a number. It means a lot more. It could mean your child’s education, that new car or a retirement corpus.</p>
      <p class="text-left">With sortvest, you can create a dedicated portfolio for each of your goals. Create separate portfolios for a new car, retirement and another one just to test your investing skills!</p>
    </div>

    <div class="section-two-image pull-left">
      <div class="image"></div>
    </div>

  </div>
</div>
