<div class="section-four">
  <div class="container-fluid">

    <div class="section-four-content text-center">
      <h3>Informed Decisions</h3>
      <p>It’s your hard earned money. You want to be sure about what you do with it. However, more often than not you end up taking a leap of faith.</p>
      <p>With sortvest you precisely know what you are getting into. It tells you how the investment plan is expected to perform, how your money will be invested, where your money will be invested and more.</p>
      <p>That’s not all! Sortvest continuously assists you in decision making throughout the life of your plan. If your plan needs optimization, sortvest will pro-actively suggest corrective actions. Thus, you can be up-to- date and make data-driven decisions, always.</p>
    </div>

    <div class="section-four-image">
      <img src="img/home/section_four.jpg" alt="" class="img-responsive">
    </div>

  </div>
</div>
