<div class="section-three">
  <div class="">

    <div class="section-three-image pull-left hidden-xs">
      <div class="image"></div>
    </div>

    <div class="section-three-content pull-left text-center">
      <h3>Custom-made Plans</h3>
      <p class="text-left">While creating an investment plan, you would like to define your own risk tolerance, expected return, time period, contribution, etc. It is essential that your plan accommodates these unique needs.</p>
      <p class="text-left">Sortvest provides you flexibility to create infinite scenarios to suit all your needs.</p>
    </div>

    <div class="section-three-image pull-left hidden-sm hidden-md hidden-lg">
      <div class="image"></div>
    </div>

  </div>
</div>
