<div class="section-six">
  <h2 class="text-center">Use the power of technology to your advantage</h2>

  <div class="blue-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="image-one">
            <img src="" alt="" class="img-responsive">
            <p>Easy access to your portfolio anytime anywhere through various devices</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="image-two">
            <img src="" alt="" class="img-responsive">
            <p>Accurate &amp; consistent output to help you design plans with precision</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="image-three">
            <img src="" alt="" class="img-responsive">
            <p>Creates multiple scenarios within seconds to help you make better decisions swiftly</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
