<div class="section-three">
  <div class="container-fluid">

    <div class="section-three-image">
      <img src="" alt="" class="img-responsive">
    </div>

    <div class="section-three-content">
      <h3>Custom-made Plans</h3>
      <p>While creating an investment plan, you would like to define your own risk tolerance, expected return, time period, contribution, etc. It is essential that your plan accommodates these unique needs.</p>
      <p>Sortvest provides you flexibility to create infinite scenarios to suit all your needs.</p>
    </div>

  </div>
</div>
