/* Large Devices, Wide Screens */
@media (max-width : 1200px) {
  .profile .user-profile .user-form .navigation-tabs { width: 550px; }
  width: 500px;
    margin-left: -190px;
    margin-top: 80px;
}

/* Medium Devices, Desktops */
@media (max-width : $screen-md-max) {
  .portfolio .portfolio-main {
    .live-portfolios, .saved-portfolios {
      md-card md-card-actions {
        .title { font-size: 18px; }
        .price, .time { font-size: 14px; }
      }
    }
  }
}

/* Small Devices, Tablets */
@media (max-width : $screen-sm-max) {
  md-sidenav.md-sidenav-left { top: 40px; }
  .main-graph { margin: 15px; }
  .donuts { margin-top: 25px; }
  .overview-main { margin-top: 80px; }
  .overview-main .investment-holdings { margin: 20px 15px 0; }
  .referral-main .all-referrals { margin: 30px 0; }
  .referral-image { margin-top: 20px; }
  .referral-title { margin-left: 20px; }
  .referral-code { margin: 0 20px; }
  .portfolio .portfolio-main {
    .live-portfolios, .saved-portfolios {
      md-card md-card-actions {
        .price { margin-left: -40px; }
        .time { min-width: 110px; }
      }
    }
  }
  .profile .user-profile .user-form {
    .navigation-tabs {
      width: 500px;
      margin-left: -190px;
      margin-top: 80px;
    }
    .nominee-details, .regulatory-details, .document-upload, .verification { margin-top: 120px; }
  }
}

/* Extra Small Devices, Phones */
@media (max-width : $screen-xs-max) {
  .planner-main {
    margin: 0;
    box-shadow: none;
  }
  .planner-main .chat-input {
    width: 100%;
    margin: 0 0 0 10px;
  }
  .planner-main .chat-input input { width: 75%; }
  .skip-button { min-width: 60px; }
  .planner-main .planner-chats .planner-receiver .receiver-message span,
  .planner-main .planner-chats .planner-sender .sender-message span {
    margin: 15px 20px;
    font-size: 14px;
  }
  .message-box {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    background-color: $body-bg;
  }
  .planner-main .send-fab { margin: 0 10px 0 0; }
  .planner-main .planner-chats { padding-bottom: 30px; }
  .investment-holdings {
    .investers .md-list-item-text h3 { font-size: 14px; }
    .md-list-item-text { max-width: 100%; }
    .md-secondary { top: 58px; }
  }
  .portfolio .portfolio-main {
    .live-portfolios, .saved-portfolios {
      md-card {
        float: none !important;
        md-card-actions {
          min-width: 350px;
          // .title { font-size: 16px; max-width: 70px; }
          // .price { max-width: 55px; }
          // .price, .time { font-size: 12px; }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media (max-width : 480px) {
  .skip-button { min-width: 50px; }
  .planner-main .chat-input input { padding: 0 10px; }
  .planner-main .planner-chats .planner-receive .receive-message { max-width: 65%; }
  .planner-main .planner-chats .planner-sender .sender-message { max-width: 65%; }
  .portfolio .portfolio-main .live-portfolios md-card md-card-actions .price,
  .portfolio .portfolio-main .saved-portfolios md-card md-card-actions .price { margin-left: -100px; }
}
