/* Large Large Devices */
@media (max-width: 1600px) {
  .section-one .section-one-content p { font-size: 28px; }
  .section-two .section-two-content, .section-three .section-three-content, .section-four .section-four-content {
    padding: 8% 100px 0 !important;
    h3 { font-size: 40px; }
    p { font-size: 18px; }
  }
  .section-two .section-two-content h3, .section-three .section-three-content h3, .section-four .section-four-content h3,
  .section-six h2, .section-seven h2, .section-eight .section-eight-content p.heading { font-size: 36px; }
}

/* Large Devices, Wide Screens */
@media (max-width : 1200px) {
  .profile .user-profile .user-form .navigation-tabs { width: 100%; }
  .planner-sidebar .right-bar .fund-main table th:first-child { width: 73%; }
  .planner-sidebar .right-bar .fund-main table td:first-child { width: 75%; }
  // width: 500px;
  //   margin-left: -190px;
  //   margin-top: 80px;
  .section-one .section-one-content .content-image img { width: 300px; }
  .section-one .section-one-content p { font-size: 24px; }
  .section-two .section-two-content, .section-three .section-three-content, .section-four .section-four-content {
    padding: 8% 60px 0 !important;
    h3 { font-size: 32px; }
    p { font-size: 18px; }
  }
  .section-five .try-button { right: 100px !important; }
  .section-six h2, .section-seven h2, .section-eight .section-eight-content p.heading { font-size: 32px; }
}

/* Medium Devices, Desktops */
@media (max-width : $screen-md-max) {
  .portfolio .portfolio-main {
    .live-portfolios, .saved-portfolios {
      md-card md-card-actions {
        .title { font-size: 18px; }
        .price, .time { font-size: 14px; }
      }
    }
  }
  .profile .user-profile .user-form .navigation-tabs { width: 100%; }
  .planner-sidebar .right-bar .fund-main table th { font-size: 16px;}
  .planner-sidebar .right-bar .fund-main table th:first-child { width: 68%; }
  .planner-sidebar .right-bar .fund-main table td:first-child { width: 70%; }
}

/* Small Devices, Tablets */
@media (max-width : $screen-sm-max) {
  md-toolbar img { width: 100px; }
  md-sidenav.md-sidenav-left { top: 40px; }
  .main-graph { margin: 15px; }
  .donuts { margin-top: 25px; }
  .overview-main { margin-top: 80px; }
  .overview-main .investment-holdings { margin: 20px 15px 0; }
  .referral-main .all-referrals { margin: 30px 0; }
  .referral-image { margin-top: 20px; }
  .referral-title { margin-left: 20px; }
  .referral-code { margin: 0 20px; }
  .profile .user-profile .user-form .navigation-tabs {
    width: 100%;
    .progress-bar .determinate { background-color: $brand_success; }
    .tab-one, .tab-two, .tab-three,
    .tab-four, .tab-five {i { background-color: #4285F4; color: white; }}
    .tab-one { left: -4%; }
  }
  .portfolio .portfolio-main {
    .live-portfolios, .saved-portfolios {
      md-card md-card-actions {
        .price { margin-left: -40px; }
        .time { min-width: 110px; }
      }
    }
  }
  .nominee-details, .regulatory-details, .document-upload, .verification { margin-top: 120px; }
  .section-one, .section-two, .section-three, .section-four,
  .section-one-image, .section-two-image, .section-three-image, .section-four-image,
  .section-one-content, .section-two-content, .section-three-content, .section-four-content {
    height: 600px !important;
  }
  .section-one .section-one-content p { margin: 20px 50px 0; }
  .section-two .section-two-content, .section-three .section-three-content, .section-four .section-four-content {
    h3 { padding: 0; font-size: 24px; }
    p { font-size: 16px; }
  }
  .section-five .section-five-image .image { background-size: cover !important; }
  .section-five .try-button { bottom: 100px !important; }
  .section-six h2 { font-size: 32px; }
  .section-seven {
    .section-seven-image .image {
      width: 250px !important;
      padding: 40px !important;
    }
    .section-seven-content p { font-size: 16px; }
  }
}

/* Extra Small Devices, Phones */
@media (max-width : $screen-xs-max) {
  //.blue-back { display: none; }
  md-toolbar.planner-header {
    position: relative !important;
  }
  .planner { margin: 0 !important; }
  .planner-main {
    margin: 0;
    box-shadow: none;
    .chat-input {
      width: 100%;
      margin: 0 0 0 10px;
      input { width: 75%; }
    }
    .planner-receiver, .planner-sender {
      bottom: 0;
    }
  }
  .skip-button { min-width: 60px; }
  .planner-main .planner-chats .planner-receiver .receiver-message span,
  .planner-main .planner-chats .planner-sender .sender-message span {
    margin: 15px 20px;
    font-size: 14px;
  }
  .message-box {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    background-color: $body-bg;
  }
  .planner-main .send-fab { margin: 0 10px 0 0; }
  .planner-main .planner-chats { padding-bottom: 30px; }
  .investment-holdings {
    .investers .md-list-item-text h3 { font-size: 14px; }
    .md-list-item-text { max-width: 100%; }
    .md-secondary { top: 18px; }
  }
  .portfolio .portfolio-main {
    .live-portfolios, .saved-portfolios {
      md-card {
        float: none !important;
        md-card-actions {
          min-width: 350px;
          // .title { font-size: 16px; max-width: 70px; }
          // .price { max-width: 55px; }
          // .price, .time { font-size: 12px; }
        }
      }
    }
  }
  .profile .user-profile .user-detail h3 {
    font-size: 20px;
    margin-top: 55px;
    margin-left: 10px;
  }
  .profile .user-profile .user-form {
    .nominee-details, .regulatory-details,
    .document-upload, .verification {
      margin-top: 150px;
    }
  }
  .profile .user-profile .user-form .navigation-tabs {
    width: 100%;
    .progress-bar { width: 104%; }
    .tab-one { left: -7%; }
    .tab-one, .tab-two, .tab-three, .tab-four, .tab-five {
      top: -20px;
      p { font-size: 12px; }
      i { padding: 5px; font-size: 20px; }
    }
  }
  .planner-sidebar {
    .left-bar {
      width: 100%;
      height: 100%;
      padding: 10px;
      position: relative;
      box-shadow: none;
      overflow: auto;
      .donut-chart { margin: 20px 0 0; }
    }
    .right-bar { padding: 20px !important; }
  }

  .section-one, .section-two, .section-three, .section-four {
    .section-one-content, .section-two-content, .section-three-content, .section-four-content,
    .section-one-image, .section-two-image, .section-three-image, .section-four-image { width: 100% !important; height: 400px !important; }
    .section-one-content, .section-two-content, .section-three-content, .section-four-content {
      height: auto !important;
      padding-top: 0 !important;
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .section-one .section-one-content .content-image img { width: 250px; }
  .section-one .section-one-content p { font-size: 20px; }
  .section-five {
    height: 400px;
    .section-five-image { height: 400px; }
  }
  .section-five .try-button {
    bottom: 50px !important;
    right: 50px !important;
    button {
      padding: 6px 25px !important;
      font-size: 16px !important;
    }
  }
  .section-four {
    height: auto !important;
    .section-four-content {
      float: none !important;
      padding-top: 40px !important;
    }
    .section-four-image {
      height: 500px !important;
      float: none !important;
      .image {
        background-position: center 60% !important;
      }
    }
  }
  .section-six {
    h2 { margin: 20px 20px 0; font-size: 24px; }
    height: auto;
    padding-bottom: 30px;
    margin-top: 30px;
    .blue-section {
      width: 120%;
      padding: 0 !important;
      .image-one, .image-two, .image-three {
        width: 150px;
        height: 150px;
        p { margin-top: 10px !important; }
      }
      .rotate-one, .rotate-two, .rotate-three { height: 300px; }
      .rotate-one { margin-top: 30px !important; }
      .rotate-three { margin-top: 0 !important; }
    }
  }
  .section-seven, .section-eight {
    h2, h3 {
      font-size: 24px;
      margin: 50px 20px;
    }
    .section-seven-image, .section-seven-content, .section-eight-image, .section-eight-content { width: 100%; height: auto; }
    .section-seven-content, .section-eight-content { width: auto; margin: 50px; }
  }
  .section-eight-image img {
    width: 200px;
    margin-top: 50px;
  }
  .section-eight .section-eight-content {
    p.heading { margin: 0; font-size: 24px; text-align: center; }
    p { font-size: 16px; }
  }
  .section-eight footer {
    .links {
      font-size: 14px;
      a { font-size: 14px; }
    }
    p { margin: 0 10px; font-size: 12px; }
  }
  md-dialog .registration {
    width: 300px !important;
    md-content { padding: 30px !important; }
  }
}

/* Custom, iPhone Retina */
@media (max-width : 480px) {
  .skip-button { min-width: 50px; }
  .planner-main .chat-input input { padding: 0 10px; }
  .planner-main .planner-chats .planner-receive .receive-message { max-width: 65%; }
  .planner-main .planner-chats .planner-sender .sender-message { max-width: 65%; }
  .portfolio .portfolio-main .live-portfolios md-card md-card-actions .price,
  .portfolio .portfolio-main .saved-portfolios md-card md-card-actions .price { margin-left: -100px; }
  .navbar-header { margin-left: 20px; }
  .navbar-brand {
    padding: 25px 10px !important;
    img { width: 100px !important; }
  }
  .login {
    margin: 20px 20px 0 0 !important;
    padding: 6px 20px !important;
    font-size: 14px !important;
  }
}
