@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/angular-material/angular-material.css";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* Bootstrap Variables Goes Here */

$brand-primary: #1d71b8 !default;
$brand-primary-light : #2bd3d6 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-gray: #777777 !default;
$brand-gray-light: #aaaaaa !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

button,
input,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: "Roboto", sans-serif;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
// classes
.primary { color: $brand-primary; }
.primary-light { color: $brand-primary-light; }
.gray { color: $brand-gray; }
.gray-light { color: $brand-gray-light; }
.pointer { cursor: pointer; }
.black { color: black; }
.white { color: #fff; }
.white-bg { background-color: #fff !important; }
.no-radius { border-radius: 0; }
.radius { border-radius: 100%; }
.text-light { font-weight: 300; }
.text-medium { font-weight: 500; }
.text-bold { font-weight: 700; }
.m-clear { margin: 0; }
.m-center { margin: 0 auto; }
.block { display: block; }
.btn-large { padding: 10px 30px; }
.inline-block { display: inline-block; }
.relate { position: relative; }
.ab { position: absolute; }
.get-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}
.flexslider {
  border: none;
  margin: 0;
  background-color: transparent;
}
// end of classes
 .bgz { background-size: cover !important; }
// buttons

.btn-primary {
  @include button-variant(white, $brand-primary, $brand-primary);
}
.btn-primary-light {
  @include button-variant(white, $brand-primary-light, $brand-primary-light);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
md-checkbox.md-checked.blue .md-icon {
 background-color: rgba(0, 0, 0, 1);
}
.md-primary { background-color: #4285F4 !important; }

// header
.hamburger {
  padding: 16px 4px 16px 25px;
  span {
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    display: block;
    background-color: #aaa;
    @include transition(all 300ms linear);
  }
  .first {
    width: 15px;
    position: relative;
    top: 3px;
    left: 1px;
    @include transform(rotate(-30deg));
    @include transition(all 300ms linear);
  }
  .second {
    position: relative;
    left: 4px;
    @include transition(all 300ms linear);
  }
  .three {
    width: 15px;
    position: relative;
    top: -3px;
    left: 1px;
    @include transform(rotate(30deg));
    @include transition(all 300ms linear);
  }
}
.navbar-brand { height: auto; }
.navbar-default {
  height: 70px;
  border: none;
  background-color: #fff;
  overflow: hidden;
}
.shadow { box-shadow: 3px 2px 2px 0px #aaa; }
.get-start {
  margin-right: -5px;
  padding: 25px;
  background-color: $brand-primary-light;
  font-size: 16px;
  vertical-align: top;
  a:focus,:hover {
    color: #fff;
    text-decoration: none;
  }
}
.login {
  padding: 16px 30px;
  background-color: #707f94;
  font-size: 16px;
  a:focus,:hover {
    color: #fff;
    text-decoration: none;
  }
}

// header end

// home
.sortvest-home {
  p {  font-size: 18px;}
}
.home-slider-text {
  position: absolute;
  top: 40%;
  left: 30%;
  @include transform(translate(-30%,-40%));
  p {
  font-size: 40px;
  }
}
.heading { font-size: 50px; }
.bg-technology { background: url('../img/technology.jpg') no-repeat; }
.client-bg { background: url('../img/client.jpg') no-repeat; }
.bg-begining { background: url('../img/begining.jpg') no-repeat; }
.invest-clue { margin: 90px 0; }
.same-section { padding: 50px 0; }
.power-detail {
  margin: 100px 0px 50px;
  h4 { font-size: 26px; }
}
.invest-detail p { margin-top: 25px; }
.trust-detail { margin: 70px 25px 30px; }
.client-imgholder { @include square(100px); }
.client-slider {
  margin: 60px 0;
  .flex-control-nav { bottom: -60px; }
  .flex-control-paging li a.flex-active { background-color: #fff; }
 }
.client-descp { width: 50%; }
.sortvest-detail {
  h2 { line-height: 60px; }
  p { margin-top: 30px; }
}
.contact-blur {
  margin-top: 35px;
  background-color: rgba(0,0,0,0.8);
}
.contact {
  margin: 50px 0px 0px;
  .form-group { margin-bottom: 30px; }
  input {
    min-height: 50px;
    background-color: #fff;
    border-color: #fff;
    color: $brand-gray;
    font-size: 16px;
    @include transition(all 300ms linear);
    &:focus {
      background-color: #000;
      border-color: #000;
      color: $brand-gray;
      @include transition(all 300ms linear);
    }
  }
}
// home end

// footer
footer {
  padding: 60px 0;
  background-color: #000;
  ul {
    padding: 0;
    li { list-style-type: none; }
  }
}
.contact-detail {
  li { margin-bottom: 5px; }
  i { width: 20px; }
}
.foot-head { margin-bottom: 15px; }
.social-links {
  ul {
    li {
      margin-right: 5px;
      display: inline-block;
      a {
        @include square(30px);
        border-radius: 100%;
        background-color: #fff;
        color: $brand-gray;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        @include transition(all 300ms linear);
        &:hover {
          background-color: $brand-gray;
          color: #fff;
        }
      }
    }
  }
}
.email {
  input {
    margin-top: -2px;
    border-right: 2px solid #777;
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
    background-color: #d7d7d7;
    &:focus { border-color: #d7d7d7; }
  }
  button {
    min-height: 34px;
    padding: 6px 10px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
    margin-left: -2px;
    background-color: #d7d7d7;
      &:focus { border-color: #d7d7d7; }
  }
}
// footer end

/* Start writing sass here */
@import "fancybox-override";
