<div ng-controller="headerCtrl">
  <md-toolbar class="white-bg md-whiteframe-8dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" md-ink-ripple="#000000" aria-label="Menu" ng-disabled="false" ng-click="toggleMenu();closeMenu();"
            ng-hide="isOpenMenu()">
        <i class="material-icons black">menu</i>
      </md-button>
      <h1><img src="img/logo.png" alt="Sortvest" class="img-responsive" /></h1>
      <span flex></span>
      <h4 class="black hidden-xs">Notification</h4>
    </div>
  </md-toolbar>
</div>
