<!-- <div class="sortvest-home">
  <flex-slider flex-slide="slide in mySlides" direction-nav="false">
    <li>
      <div class="home-banner relate">
        <img ng-src="{{slide}}" alt="Sorvest" class="img-responsive">
        <div class="blur-backbg"></div>
        <div class="home-slider-text white">
          <p class="m-clear">Smile More Often</p>
          <p class="m-clear">With <span class="primary-light">Sortvest</span></p>
        </div>
      </div>
    </li>
  </flex-slider>
  <section class="investing same-section">
    <div class="container">
      <div class="invest-head">
        <h2 class="heading text-center primary text-light m-clear">investing the sortvest way !</h2>
      </div>
      <div class="invest-clue">
        <div class="row">
          <div class="col-md-6">
            <div class="invest-imgholder">
              <img src="img/luxary.png" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6">
            <div class="invest-detail">
              <div class="invest-head">
                <h3 class="title primary text-light m-clear">Maximize value with your prospective</h3>
                <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="invest-clue">
        <div class="row">
          <div class="col-md-6">
            <div class="invest-detail">
              <div class="invest-head">
                <h3 class="title primary text-light m-clear">Make a informed decision</h3>
                <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="invest-imgholder">
              <img src="img/decision.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
        </div>
        <div class="invest-clue">
        <div class="row">
          <div class="col-md-6">
            <div class="invest-imgholder">
              <img src="img/coffee.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6">
            <div class="invest-detail">
              <div class="invest-head">
                <h3 class="title primary text-light m-clear">cut the noise</h3>
                <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-technology bgz">
    <div class="technology same-section">
      <div class="container">
        <h2 class="heading text-center text-light white m-clear">use the <span class="primary-light">power of technology</span> to your advantage</h2>
        <div class="power-tech-list">
          <div class="row">
            <div class="col-md-4">
              <div class="power-detail text-center">
                <img src="img/powerful.jpg" alt="" class="img-responsive img-circle m-center">
                <h4 class="white">powerful</h4>
                <p class="gray-light white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="power-detail text-center">
                <img src="img/fast.png" alt="" class="img-responsive img-circle m-center">
                <h4 class="white">fast</h4>
                <p class="gray-light white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="power-detail text-center">
                <img src="img/easy.jpg" alt="" class="img-responsive img-circle m-center">
                <h4 class="white">easy</h4>
                <p class="gray-light white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="trust same-section">
    <div class="container">
      <h2 class="heading text-center primary text-light m-clear">worthy of your trust</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="client-bg bgz ">
    <div class="client-main same-section">
      <h2 class="heading text-center text-light white m-clear">Client endorsements</h2>
      <div class="client-slider white">
        <flex-slider class="carousel" flex-slide="detail in client track by $index" direction-nav="false">
          <li>
            <div class="client-detail text-center">
              <div class="client-imgholder m-center">
                <img ng-src="{{detail.img}}" alt="" class="img-circle m-center img-responsive">
              </div>
              <h3 class="name">{{detail.name}}</h3>
              <h4 class="desgination">{{detail.desg}}</h4>
              <div class="client-descp m-center">
                <p>{{detail.descp}}</p>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </section>
  <section class="sortvest-main same-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="sortvest-detail">
            <h2 class="heading primary text-light m-clear">Sortvest is not just free it’s rewarding</h2>
            <p class="gray-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="img/gift.jpg" alt="" class="m-center img-responsive">
        </div>
      </div>
    </div>
  </section>
  <section class="bg-begining bgz">
    <div class="begining same-section">
      <div class="container">
        <h2 class="heading text-center white m-clear">Make a begining</h2>
        <div class="row">
          <div class="col-md-6">
            <img src="" alt="" class="img-responsive">
          </div>
          <div class="col-md-6">
            <div class="contact-blur">
              <div class="row">
                <div class="col-md-offset-1 col-md-10">
                  <div class="contact">
                    <form action="" name="getintouch">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" ng-model="name" placeholder="Name *" required>
                        <div class="ab white" ng-show="getintouch.name.$error.required && getintouch.name.$touched">
                          Please Enter Your Name.
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" name="mail" ng-model="mail" placeholder="Email *" required>
                        <div class="ab white" ng-show="getintouch.mail.$error.required && getintouch.mail.$touched">
                          Please Enter Your Email.
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password *" required>
                        <div class="ab white" ng-show="getintouch.password.$error.required && getintouch.password.$touched">
                          Please Enter Your Password.
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="code" ng-model="code" placeholder="Reference Code *" required>
                        <div class="ab white" ng-show="getintouch.code.$error.required && getintouch.code.$touched">
                          Please Enter Your Reference Code.
                        </div>
                      </div>
                      <div class="form-group text-center">
                        <button class="btn btn-primary-light btn-large">SUBMIT</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->

<section>
  <section class="section one" id="" ng-include="section.one"></section>
  <section class="section two" id="" ng-include="section.two"></section>
  <section class="section three" id="" ng-include="section.three"></section>
  <section class="section four" id="" ng-include="section.four"></section>
  <section class="section five" id="" ng-include="section.five"></section>
  <section class="section six" id="" ng-include="section.six"></section>
  <section class="section seven" id="" ng-include="section.seven"></section>
</section>
