<div class="sortvest-home">
  <flex-slider flex-slide="slide in mySlides">
    <li>
      <div class="home-banner relate">
        <img ng-src="{{slide.img}}" alt="Sorvest" class="img-responsive">
        <div class="blur-backbg"></div>
        <div class="get-center">
          <p class="m-clear">Smile More Often</p>
          <p class="m-clear">With<span>Sortvest</span></p>
        </div>
      </div>
    </li>
  </flex-slider>
  <section class="investing">
    <div class="container">
      <div class="invest-head">
        <h2 class="heading text-center">investing the sortvest way !</h2>
      </div>
      <div class="invest-clue">
        <div class="row">
          <div class="col-md-6">
            <div class="invest-imgholder">
              <img src="" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6">
            <div class="invest-detail">
              <div class="invest-head">
                <h3 class="title">Maximize value with your prospective</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="invest-detail">
              <div class="invest-head">
                <h3 class="title">Make a informed decision</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="invest-imgholder">
              <img src="" alt="" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="invest-imgholder">
              <img src="" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-md-6">
            <div class="invest-detail">
              <div class="invest-head">
                <h3 class="title">cut the noise</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="power-technology">
    <div class="bg-power-tech">
      <div class="container">
        <h2 class="heading text-center">use the <span>power of technology</span> to your advantage</h2>
        <div class="power-tech-list">
          <div class="row">
            <div class="col-md-4">
              <div class="power-detail text-center">
                <img src="" alt="" class="img-responsive m-center">
                <h4>powerful</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="power-detail text-center">
                <img src="" alt="" class="img-responsive m-center">
                <h4>fast</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="power-detail text-center">
                <img src="" alt="" class="img-responsive m-center">
                <h4>easy</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="trust">
    <div class="container">
      <h2 class="heading text-center">worthy of your trust</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="trust-detail text-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="client">
      <h2 class="heading text-center">Client endorsements</h2>
      <div class="client-slider">
        <flex-slider class="carousel" flex-slide="detail in client" animation="slide">
          <li>
            <div class="client-detail text-center">
              <div class="client-imgholder">
                <img src="" alt="" class="img-responsive">
              </div>
              <h3 class="name">{{detail.name}}</h3>
              <h4 class="desgination">{{detail.desg}}</h4>
              <div class="client-descp">
                <p>{{detail.descp}}</p>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </section>
  <section class="sortvest-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="sortvest-detail">
            <h2 class="heading">Sortvest is not just free it’s rewarding</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </section>
  <section class="begining">
    <div class="bg-begining">
      <div class="container">
        <h2 class="heading text-center">Make a begining</h2>
        <div class="row">
          <div class="col-md-6">
            <img src="" alt="" class="img-responsive">
          </div>
          <div class="col-md-6">
            <div class="contact">
              <form action="" name="getintouch">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" ng-model="name" placeholder="Name *" required>
                  <div class="" ng-show="getintouch.name.$error.required && getintouch.name.$touched">
                    Please Enter Your Name.
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="mail" ng-model="mail" placeholder="Email *" required>
                  <div class="" ng-show="getintouch.mail.$error.required && getintouch.mail.$touched">
                    Please Enter Your Email.
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="code" ng-model="code" placeholder="Reference Code *" required>
                  <div class="" ng-show="getintouch.code.$error.required && getintouch.code.$touched">
                    Please Enter Your Reference Code.
                  </div>
                </div>
                <div class="form-group text-center">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
