<div class="notification">
  <md-toolbar class="white-bg md-whiteframe-8dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" md-ink-ripple="#000000" aria-label="Menu" ng-disabled="false">
        <i class="material-icons black">menu</i>
      </md-button>
      <h1><img src="img/logo.png" alt="Sortvest" class="img-responsive" /></h1>
      <span flex></span>
      <h4 class="black">Notification</h4>
    </div>
  </md-toolbar>
  <div class="container">
    <div class="row">
      <div class="notification-main">
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 1</h3>
            <p>Notification 1 Body</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <i class="material-icons">info</i>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 2</h3>
            <p>Notification 2 Body</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <i class="material-icons">info</i>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 3</h3>
            <p>Notification 3 Body</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <i class="material-icons">info</i>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 4</h3>
            <p>Notification 4 Body</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <i class="material-icons">info</i>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 5</h3>
            <p>Notification 5 Body</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <i class="material-icons">info</i>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 6</h3>
            <p>Notification 6 Body</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <i class="material-icons">message</i>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 7</h3>
            <p>Notification 7 Body</p>
          </div>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <i class="material-icons">info</i>
          </md-button>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </div>
  </div>
</div>
