<div class="overview">
  <div class="overview-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="main-graph">
            <img src="http://dummyimage.com/800x800/aaa/fff" alt="" class="img-responsive" />
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="donuts">
            <div class="donut-one col-md-12 col-sm-6 col-xs-12">
              <img src="http://dummyimage.com/400x405/aaa/fff" alt="" class="img-responsive" />
            </div>
            <div class="donut-two col-md-12 col-sm-6 col-xs-12">
              <img src="http://dummyimage.com/400x405/aaa/fff" alt="" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="investment-holdings md-whiteframe-8dp">
            <md-list-item class="md-2-line">
              <div class="md-list-item-text" layout="column">
                <h3 class="text-uppercase invest-title">Investment Holdings</h3>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <div class="investers">
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
