<div class="overview">
  <md-toolbar class="white-bg md-whiteframe-8dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" md-ink-ripple="#000000" aria-label="Menu" ng-disabled="false">
        <i class="material-icons black">menu</i>
      </md-button>
      <h1><img src="img/logo.png" alt="Sortvest" class="img-responsive" /></h1>
      <span flex></span>
      <h4 class="black">Overview</h4>
    </div>
  </md-toolbar>

  <div class="overview-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img src="http://dummyimage.com/800x800/aaa/fff" alt="" class="img-responsive" />
        </div>
        <div class="col-md-4">
          <img src="http://dummyimage.com/400x415/aaa/fff" alt="" class="img-responsive" />
          <img src="http://dummyimage.com/400x415/aaa/fff" alt="" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="investment-holdings md-whiteframe-8dp">
            <md-list-item class="md-2-line">
              <div class="md-list-item-text" layout="column">
                <h3 class="text-uppercase">Investment Holdings</h3>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <div class="investers">
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                  <h3 class="text-uppercase">ICICI Prudential Focused Bluechip Equity Fund (G)</h3>
                </div>
                <div class="md-secondary">
                  <span>11,41,948</span>
                </div>
              </md-list-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
