<div class="planner-main" ng-hide="suggestion">
  <div class="blue-back"></div>
  <div class="planner">
    <div class="container">
      <div class="row">
        <div class="planner-main md-whiteframe-2dp">
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Jane Doe</h3>
            </div>
          </md-list-item>
          <md-divider></md-divider>

          <div class="main-planner-chats" id="chatBox" schroll-bottom="chats">
            <div class="planner-chats" >
              <div ng-repeat="chat in chats">
                <div class="planner-receiver" ng-show="chat.type == 'received'">
                  <img src="http://dummyimage.com/20x20/eee/fff" alt="" class="md-avatar img-responsive receiver-image" />
                  <div class="receiver-message gray-lighter-bg">
                    <span ng-bind-html="chat.text"></span>
                  </div>
                </div>
                <div class="planner-sender text-right" ng-show="chat.type == 'sent'">
                  <div class="sender-message blue-bg">
                    <span ng-bind-html="chat.text"></span>
                  </div>
                  <img src="http://dummyimage.com/20x20/eee/fff" alt="" class="md-avatar img-responsive sender-image" />
                </div>

              </div>
              <div class="planner-receiver" ng-if="typingrec">
                <img src="http://dummyimage.com/20x20/eee/fff" alt="" class="md-avatar img-responsive receiver-image" />
                <div class="receiver-message gray-lighter-bg">
                  <span>
                    <span class="circle circle1"></span>
                    <span class="circle circle2"></span>
                    <span class="circle circle3"></span>
                  </span>
                </div>
              </div>
              <div class="planner-sender text-right" ng-if="typing">
                <div class="sender-message blue-bg">
                  <span>
                    <span class="circle circle1"></span>
                    <span class="circle circle2"></span>
                    <span class="circle circle3"></span>
                  </span>
                </div>
                <img src="http://dummyimage.com/20x20/eee/fff" alt="" class="md-avatar img-responsive sender-image" />
              </div>
            </div>
          </div>
          <form ng-submit="sendMessage(response.reply)">
            <div layout="row" class="message-box">

              <div flex="84" flex-gt-xs="80" flex-xs="80">
                <div class="chat-input">
                  <md-button class="text-uppercase skip-button" ng-disabled="!currentResponse.canSkip" ng-click="skipIt()">Skip</md-button>
                  <input ng-hide="currentResponse.hasSelect" type="{{currentResponse.valueType}}" ng-change="typingIt(response.reply)"  ng-model="response.reply" placeholder="Type Something..." style="">
                  <md-select ng-show="currentResponse.hasSelect" required ng-change="typingIt(response.reply)" ng-model="response.reply" style="width: 80%; margin: 0; display: inline-block;">
                    <md-option ng-repeat="option in currentResponse.selectValues" value="{{option}}">{{option}}</md-option>

                  </md-select>
                </div>
              </div>
              <div flex="16" flex-gt-xs="20" flex-xs="20">
                <md-button type="submit" class="send-button pull-right md-button md-raised md-primary white hidden-xs" md-ink-ripple="#ffffff"  aria-label="Send">
                  <span class="text-uppercase">Send</span>
                </md-button>
                <md-button type="submit" class="send-fab pull-right md-fab md-raised md-primary white hidden-sm hidden-md hidden-lg" md-ink-ripple="#ffffff" aria-label="Send">
                  <span><i class="material-icons">send</i></span>
                </md-button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="planner-sidebar" ng-show="suggestion">
  <div class="left-bar">
    <div class="slider slider1">
      <span>One Time Investment</span>
      <span class="pull-right block"><i class="fa fa-inr"></i>
      <md-input-container><input type="number" class="leftLabelVal" ng-change="validateSliders()" ng-model="inputs.lumpsumSlider.value"></md-input-container>
      </span>
      <!-- <div class="nstSlider" data-range_min="15000" data-range_max="25000" data-cur_min="20000" data-cur_max="20000">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.lumpsumSlider.value" rz-slider-options="inputs.lumpsumSlider.options"></rzslider>
    </div>
    <div class="slider slider2">
      <span>Monthly Investment</span>
      <span class="pull-right block"><i class="fa fa-inr"></i>
      <md-input-container><input type="number" class="leftLabelVal" ng-change="validateSliders()" ng-model="inputs.monthlySlider.value"></md-input-container>
      </span>
      <!-- <div class="nstSlider" data-range_min="-127" data-range_max="127" data-cur_min="-90" data-cur_max="0">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.monthlySlider.value" rz-slider-options="inputs.monthlySlider.options"></rzslider>
    </div>
    <div class="slider slider3">
      <span>Monthly Investment Period</span>
      <span class="pull-right block">


        <md-select ng-change="validateSliders()" ng-model="inputs.monthlyuntildateSlider.value">
              <md-option ng-repeat="dates in sixHundredMonths" value="{{dates.id}}" >
                {{dates.value}}
              </md-option>
            </md-select>



      </span>
      <!-- <div class="nstSlider" data-range_min="-127" data-range_max="127" data-cur_min="40" data-cur_max="0">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.monthlyuntildateSlider.value" rz-slider-options="inputs.monthlyuntildateSlider.options"></rzslider>
    </div>
    <div class="slider slider4">
      <span>Withdrawal Amount</span>
      <span class="pull-right block"><i class="fa fa-inr"></i>
      <md-input-container><input type="number" class="leftLabelVal" ng-change="validateSliders()" ng-model="inputs.installmentSlider.value"></md-input-container>
      </span>
      <!-- <div class="nstSlider" data-range_min="-127" data-range_max="127" data-cur_min="-20" data-cur_max="0">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.installmentSlider.value" rz-slider-options="inputs.installmentSlider.options"></rzslider>
    </div>
    <div class="slider slider5">
      <span>Withdrawal Frequency</span>
      <span class="pull-right block">
      <md-input-container><input type="number" class="leftLabelVal" ng-change="validateSliders()" ng-model="inputs.withdrawalfrequencySlider.value"></md-input-container>
      </span>
      <!-- <div class="nstSlider" data-range_min="15000" data-range_max="25000" data-cur_min="20000" data-cur_max="20000">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.withdrawalfrequencySlider.value" rz-slider-options="inputs.withdrawalfrequencySlider.options"></rzslider>
    </div>
    <div class="slider slider6">
      <span>Withdrawal Start</span>
      <span class="pull-right block">
        <md-select ng-change="validateSliders()" ng-model="inputs.startMonthSlider.value">
              <md-option ng-repeat="dates in sixHundredMonths" value="{{dates.id}}" ng-show="dates.id >= inputs.startMonthSlider.options.floor">
                {{dates.value}}
              </md-option>
            </md-select>
      </span>
      <!-- <div class="nstSlider" data-range_min="-127" data-range_max="127" data-cur_min="-90" data-cur_max="0">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.startMonthSlider.value" rz-slider-options="inputs.startMonthSlider.options"></rzslider>
    </div>
    <div class="slider slider7">
      <span>Withdrawal End</span>
      <span class="pull-right block">
        <md-select ng-change="validateSliders()" ng-model="inputs.endMonthSlider.value">
              <md-option ng-repeat="dates in sixHundredMonths" value="{{dates.id}}" ng-if="dates.id >= inputs.endMonthSlider.options.floor" >
                {{dates.value}}
              </md-option>
            </md-select>
      </span>
      <!-- <div class="nstSlider" data-range_min="-127" data-range_max="127" data-cur_min="40" data-cur_max="0">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.endMonthSlider.value" rz-slider-options="inputs.endMonthSlider.options"></rzslider>
    </div>
    <div class="slider slider8">
      <span>Expected Inflation</span>
      <span class="pull-right block">
      <md-input-container><input type="number" class="leftLabelVal" ng-change="validateSliders()" ng-model="inputs.inflationSlider.value"></md-input-container>
      %</span>
      <!-- <div class="nstSlider" data-range_min="0" data-range_max="12" data-cur_min="6" data-cur_max="6">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.inflationSlider.value" rz-slider-options="inputs.inflationSlider.options"></rzslider>
    </div>
    <div class="slider slider9">
      <span>Short-term Loss</span>
      <span class="pull-right block">
      <md-input-container><input type="number" class="leftLabelVal" ng-change="validateSliders()" ng-model="inputs.shortinputSlider.value"></md-input-container>
      %</span>
      <!-- <div class="nstSlider" data-range_min="0" data-range_max="60" data-cur_min="30" data-cur_max="30">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.shortinputSlider.value" rz-slider-options="inputs.shortinputSlider.options"></rzslider>
    </div>
    <div class="slider slider10">
      <span>Long-term Loss</span>
      <span class="pull-right block">
      <md-input-container><input type="number" class="leftLabelVal" ng-change="validateSliders()" ng-model="inputs.longinputSlider.value"></md-input-container>
      %</span>
      <!-- <div class="nstSlider" data-range_min="0" data-range_max="20" data-cur_min="5" data-cur_max="10">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div> -->
      <rzslider rz-slider-model="inputs.longinputSlider.value" rz-slider-options="inputs.longinputSlider.options"></rzslider>
    </div>

    <div class="donut-chart">
      <!-- <img src="http://dummyimage.com/500x500/ccc/ccc" alt="" class="img-responsive" /> -->
      <highchart id="chart3" config="EDdonutchartConfig"></highchart>

    </div>
  </div>

  <div class="right-bar">
    <div class="spline-graph">
      <!-- <img src="http://dummyimage.com/500x500/ccc/ccc" alt="" class="img-responsive" /> -->
      <highchart id="chart3" config="planlinechartconfig"></highchart>

    </div>

    <div class="fund-main">
      <div class="fund-table">
        <table>
          <tr>
            <th>Fund</th>
            <th>One-time</th>
            <th>Monthly</th>
          </tr>
        </table>
      </div>
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group>
          <uib-accordion-heading>
            <table>
              <tr>
                <td>Birla Sunlife Frontline Equity Fund (G)</td>
                <td><i class="fa fa-inr"></i> 6,000</td>
                <td><i class="fa fa-inr"></i> 1,000</td>
              </tr>
            </table>
          </uib-accordion-heading>
          <table>
            <tr>
              <td>Existing</td>
              <td><i class="fa fa-inr"></i> -</td>
              <td><i class="fa fa-inr"></i> -</td>
            </tr>
            <tr>
              <td>New</td>
              <td><i class="fa fa-inr"></i> 6,000</td>
              <td><i class="fa fa-inr"></i> 1,000</td>
            </tr>
          </table>
        </uib-accordion-group>
        <uib-accordion-group>
          <uib-accordion-heading>
            <table>
              <tr>
                <td>ICICI Pru Focued Bluechip Fund (G)</td>
                <td><i class="fa fa-inr"></i> 16,000</td>
                <td><i class="fa fa-inr"></i> 4,000</td>
              </tr>
            </table>
          </uib-accordion-heading>
          <table>
            <tr>
              <td>Existing</td>
              <td><i class="fa fa-inr"></i> 10,000</td>
              <td><i class="fa fa-inr"></i> -</td>
            </tr>
            <tr>
              <td>New</td>
              <td><i class="fa fa-inr"></i> 6,000</td>
              <td><i class="fa fa-inr"></i> 4,000</td>
            </tr>
          </table>
        </uib-accordion-group>
        <uib-accordion-group>
          <uib-accordion-heading>
            <table>
              <tr>
                <td>Axis Flexible Income Fund (G)</td>
                <td><i class="fa fa-inr"></i> 10,000</td>
                <td><i class="fa fa-inr"></i> 1,000</td>
              </tr>
            </table>
          </uib-accordion-heading>
          <table>
            <tr>
              <td>Existing</td>
              <td><i class="fa fa-inr"></i> -</td>
              <td><i class="fa fa-inr"></i> 1,000</td>
            </tr>
            <tr>
              <td>New</td>
              <td><i class="fa fa-inr"></i> 10,000</td>
              <td><i class="fa fa-inr"></i> -</td>
            </tr>
          </table>
        </uib-accordion-group>
        <uib-accordion-group>
          <uib-accordion-heading>
            <table>
              <tr>
                <td>Franklin Corporate Bond Opportunities Fund (G)</td>
                <td><i class="fa fa-inr"></i> 18,000</td>
                <td><i class="fa fa-inr"></i> 5,000</td>
              </tr>
            </table>
          </uib-accordion-heading>
          <table>
            <tr>
              <td>Existing</td>
              <td><i class="fa fa-inr"></i> -</td>
              <td><i class="fa fa-inr"></i> 2,500</td>
            </tr>
            <tr>
              <td>New</td>
              <td><i class="fa fa-inr"></i> 18,000</td>
              <td><i class="fa fa-inr"></i> 2,500</td>
            </tr>
          </table>
        </uib-accordion-group>
        <uib-accordion-group>
          <uib-accordion-heading>
            <table>
              <tr>
                <td>Total</td>
                <td><i class="fa fa-inr"></i> 50,000</td>
                <td><i class="fa fa-inr"></i> 11,000</td>
              </tr>
            </table>
          </uib-accordion-heading>
          <table>
            <tr>
              <td>Existing</td>
              <td><i class="fa fa-inr"></i> 10,000</td>
              <td><i class="fa fa-inr"></i> 2,500</td>
            </tr>
            <tr>
              <td>New</td>
              <td><i class="fa fa-inr"></i> 40,000</td>
              <td><i class="fa fa-inr"></i> 8,500</td>
            </tr>
          </table>
        </uib-accordion-group>
      </uib-accordion>
    </div>

    <div class="planner-buttons">
      <span flex></span>
      <md-button class="md-raised md-primary">Delete</md-button>
      <md-button class="md-raised md-primary">Save</md-button>
      <md-button class="md-raised md-primary">Execute</md-button>
    </div>
  </div>
</div>
