<div class="planner">
  <md-toolbar class="white-bg md-whiteframe-8dp">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" md-ink-ripple="#000000" aria-label="Menu" ng-disabled="false">
        <i class="material-icons black">menu</i>
      </md-button>
      <h1><img src="img/logo.png" alt="Sortvest" class="img-responsive" /></h1>
      <span flex></span>
      <h4 class="black">Profile</h4>
    </div>
  </md-toolbar>
  <div class="container">
    <div class="row">
      <div class="planner-main md-whiteframe-8dp">
        <md-list-item class="md-2-line" ng-click="null">
          <img ng-src="" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>Notification 1</h3>
          </div>
        </md-list-item>
        <md-divider></md-divider>

        <div class="planner-chats">
          <div class="planner-receiver">
            <img src="" alt="" class="md-avatar img-responsive" />
            <div class="receiver-message gray-bg">
              <span>Hi Vikas! Let's get started with creating your new portfolio. What would you like to call this portfolio?</span>
            </div>
          </div>
          <div class="planner-sender text-right">
            <div class="sender-message green-bg">
              <span>My Personal world tour plan</span>
            </div>
            <img src="" alt="" class="md-avatar img-responsive" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="chat-input">
              <md-button class="text-uppercase">Skip</md-button>
              <input type="text">
            </div>
          </div>
          <div class="col-md-2">
            <md-button class="md-button md-raised md-primary white" md-ink-ripple="#ffffff" aria-label="Send">
              <span class="text-uppercase">Send</span>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
