<div class="portfolio">
  <div class="container">
    <div class="row">
      <div class="portfolio-main">
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <h3>Live Portfolios</h3>
          </div>
        </md-list-item>
        <md-divider></md-divider>

        <div class="live-portfolios">
          <div class="row" ng-repeat="portfolio in portfolios">
            <div class="col-sm-6 col-xs-12" ng-if="port.status == true" ui-sref="planned({id:port._id})" ng-repeat="port in portfolio">
              <md-card class="pull-right" md-ink-ripple="#ffffff">
                <img src="img/portfolios/house.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">{{port.goalname}}</span>
                  <span flex="20" class="price">$34560</span>
                  <span flex="35" class="time">6 Years 9 Months</span>
                </md-card-actions>
              </md-card>
            </div>

          </div>
        </div>

        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <h3>Saved Portfolios</h3>
          </div>
        </md-list-item>
        <md-divider></md-divider>

        <div class="saved-portfolios">
          <div class="row" ng-repeat="portfolio in portfolios">
            <div class="col-sm-6 col-xs-12" ng-if="port.status == false" ui-sref="planned({id:port._id})" ng-repeat="port in portfolio">
              <md-card class="pull-right" md-ink-ripple="#ffffff">
                <img src="img/portfolios/house.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">{{port.goalname}}</span>
                  <span flex="20" class="price">$34560</span>
                  <span flex="35" class="time">6 Years 9 Months</span>
                </md-card-actions>
              </md-card>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-button text-right">
    <a ng-click="showConfirm($event)">
      <md-button aria-label="menu" class="md-fab md-primary md-whiteframe-2dp">
        <i class="material-icons">add</i>
        <md-tooltip md-direction="top">
            Add Portfolios
        </md-tooltip>
      </md-button>
    </a>
  </div>
</div>
