<div class="portfolio">
    <div ng-init='httpMethod=POST;howToSend = 1;'></div>

    <div class="container">
        <div class="row">
            <div class="portfolio-main">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Live Portfolios</h3>
                    </div>
                </md-list-item>
                <md-divider></md-divider>

                <div class="live-portfolios">
                    <div class="row" ng-repeat="portfolio in liveportfolios">
                        <div class="col-sm-6 col-xs-12" ng-repeat="port in portfolio">
                            <md-card class="" md-ink-ripple="#ffffff" ng-class="{'pull-right':{{$index}} == 0,'pull-left':$index !== 0}">
                                <div class="ncq" equal-height>
                                    <img ui-sref="planned({id:port._id,exec:port.execepoch})" ng-src="{{port.image | portfolioserverimage}}" class="md-card-image" alt="">
                                </div>
                                <span ng-click="uploadFile(port._id)"> <i class="material-icons">camera_alt</i><input style="display:none;"  ng-file-select='onFileSelect($files,1,"single",port._id)' onclick='this.value=null' type="file" id="selector{{port._id}}"/></span>
                                <md-card-actions ui-sref="planned({id:port._id,exec:port.execepoch})" layout="row" layout-align="start center">
                                    <span flex="50" class="title">{{port.goalname}}</span>
                                    <span flex="20" class="price">{{port.lumpsum | currency}}</span>
                                    <span flex="35" class="time"><span ng-if="port.timetostart.years !== 0">{{port.timetostart.years}}</span> <span ng-if="port.timetostart.years !== 0">Year<span ng-if="port.timetostart.years > 1">s</span></span>
                                    <span ng-if="port.timetostart.months !== 0">{{port.timetostart.months}}</span> <span ng-if="port.timetostart.months !== 0">Month<span ng-if="port.timetostart.months > 1">s</span></span>
                                    </span>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                </div>

                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Saved Portfolios</h3>
                    </div>
                </md-list-item>
                <md-divider></md-divider>

                <div class="saved-portfolios">
                    <div class="row" ng-repeat="portfolio in savedportfolios">
                        <div class="col-sm-6 col-xs-12" ng-repeat="port in portfolio">
                            <md-card class="" md-ink-ripple="#ffffff" ng-class="{'pull-right':$index == 0,'pull-left':$index !== 0}">
                                <div class="ncq" equal-height>
                                    <img ui-sref="planned({id:port._id,exec:null})" ng-src="{{port.image | portfolioserverimage}}" class="md-card-image" alt="">
                                </div>
                                <span ng-click="uploadFile(port._id)"><i class="material-icons">camera_alt</i><input style="display:none;"  ng-file-select='onFileSelect($files,1,"single",port._id)' onclick='this.value=null' type="file" id="selector{{port._id}}"/></span>
                                <md-card-actions ui-sref="planned({id:port._id,exec:null})" layout="row" layout-align="start center">
                                    <span flex="50" class="title">{{port.goalname}}</span>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-button text-right">
        <a ng-click="showConfirm($event)">
            <md-button aria-label="menu" class="md-fab md-primary md-whiteframe-2dp">
                <i class="material-icons">add</i>
                <md-tooltip md-direction="top">
                    Add Portfolios
                </md-tooltip>
            </md-button>
        </a>
    </div>
</div>
