<div class="portfolio">
  <div class="container">
    <div class="row">
      <div class="portfolio-main">
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <h3>Live Portfolios</h3>
          </div>
        </md-list-item>
        <md-divider></md-divider>

        <div class="live-portfolios">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <md-card class="pull-right" md-ink-ripple="#ffffff">
                <img src="img/portfolios/house.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">House</span>
                  <span flex="20" class="price">$34560</span>
                  <span flex="35" class="time">6 Years 9 Months</span>
                </md-card-actions>
              </md-card>
            </div>
            <div class="col-sm-6 col-xs-12">
              <md-card class="pull-left" md-ink-ripple="#ffffff">
                <img src="img/portfolios/car.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">Car</span>
                  <span flex="20" class="price">$15290</span>
                  <span flex="35" class="time">1 Years 3 Months</span>
                </md-card-actions>
              </md-card>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <md-card class="pull-right" md-ink-ripple="#ffffff">
                <img src="img/portfolios/car.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">Car</span>
                  <span flex="20" class="price">$23550</span>
                  <span flex="35" class="time">6 Years 9 Months</span>
                </md-card-actions>
              </md-card>
            </div>
            <div class="col-sm-6 col-xs-12">
              <md-card class="pull-left" md-ink-ripple="#ffffff">
                <img src="img/portfolios/house.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">House</span>
                  <span flex="20" class="price">$35680</span>
                  <span flex="35" class="time">2 Years 3 Months</span>
                </md-card-actions>
              </md-card>
            </div>
          </div>
        </div>

        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <h3>Saved Portfolios</h3>
          </div>
        </md-list-item>
        <md-divider></md-divider>

        <div class="saved-portfolios">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <md-card class="pull-right" md-ink-ripple="#ffffff">
                <img src="img/portfolios/house.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">House</span>
                  <span flex="20" class="price">$15640</span>
                  <span flex="35" class="time">5 Years 8 Months</span>
                </md-card-actions>
              </md-card>
            </div>
            <div class="col-sm-6 col-xs-12">
              <md-card class="pull-left" md-ink-ripple="#ffffff">
                <img src="img/portfolios/car.png" class="md-card-image" alt="">
                <span><i class="material-icons">camera_alt</i></span>
                <md-card-actions layout="row" layout-align="start center">
                  <span flex="50" class="title">Car</span>
                  <span flex="20" class="price">$43690</span>
                  <span flex="35" class="time">2 Years 11 Months</span>
                </md-card-actions>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-button text-right">
    <a ng-click="showConfirm($event)">
      <md-button aria-label="menu" class="md-fab md-primary">
        <i class="material-icons">add</i>
      </md-button>
    </a>
  </div>
</div>
