<div class="blue-back"></div>
<div class="profile">
  <div class="user-profile">
    <div class="container">
      <div class="user-detail" layout="row">
        <div class="user-image">
          <img src="img/team.jpg" alt="" class="img-responsive img-circle md-whiteframe-2dp" />
        </div>
        <h3>Jane Doe</h3>
      </div>
      <div class="user-form md-whiteframe-8dp">
        <div class="navigation-tabs">
          <div class="progress-bar">
            <div class="determinate"></div>
          </div>
          <div class="tab-one text-center">
            <p class="tab-icon"><i class="material-icons">done</i></p>
            <p>Registration</p>
          </div>
          <div class="tab-two text-center" ng-click="nominee=true;regulatory=false;document=false;verification=false;">
            <p class="tab-icon"><i class="material-icons">done</i></p>
            <p>Nominee<br>Details</p>
          </div>
          <div class="tab-three text-center" ng-click="nominee=false;regulatory=true;document=false;verification=false;">
            <p class="tab-icon"><i class="material-icons">done</i></p>
            <p>Regulatory<br>Details</p>
          </div>
          <div class="tab-four text-center" ng-click="nominee=false;regulatory=false;document=true;verification=false;">
            <p class="tab-icon"><i class="material-icons">done</i></p>
            <p>Document<br>Upload</p>
          </div>
          <div class="tab-five text-center" ng-click="nominee=false;regulatory=false;document=false;verification=true;">
            <p class="tab-icon"><i class="material-icons">done</i></p>
            <p>Verification</p>
          </div>
        </div>
        <div class="nominee-details" ng-show="nominee" ng-hide="regulatory || document || verification">
          <div layout="row">
            <h4 flex="80" class="text-uppercase blue"></h4>
            <md-checkbox md-no-ink aria-label="No Nominee">
              No Nominee
            </md-checkbox>
            <md-button class="md-icon-button md-fab md-mini md-primary md-whiteframe-8dp add-nominee" aria-label="Add Nominee">
              <i class="material-icons">add</i>
            </md-button>
          </div>
          <div class="nominee-form">
            <p>Nominee 1</p>
            <div class="row">
              <div class="col-sm-4">
                <md-input-container class="md-block">
                  <label>Name</label>
                  <input>
                </md-input-container>
              </div>
              <div class="col-sm-4" layout="row">
                <!-- <md-datepicker class="md-block" ng-model="user.submissionDate" md-placeholder="Birth Date">
                </md-datepicker> -->
                <md-input-container layout="column" flex="33">
                  <label>Day</label>
                  <md-select ng-model="ctrl.userDay">
                    <md-option value="IN">IN</md-option>
                    <md-option value="US">US</md-option>
                    <md-option value="UK">UK</md-option>
                    <md-option value="SP">SP</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container layout="column" flex="33">
                  <label>Month</label>
                  <md-select ng-model="ctrl.userMonth">
                    <md-option value="IN">IN</md-option>
                    <md-option value="US">US</md-option>
                    <md-option value="UK">UK</md-option>
                    <md-option value="SP">SP</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container layout="column" flex="33">
                  <label>Year</label>
                  <md-select ng-model="ctrl.userYear">
                    <md-option value="IN">IN</md-option>
                    <md-option value="US">US</md-option>
                    <md-option value="UK">UK</md-option>
                    <md-option value="SP">SP</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="col-sm-4">
                <md-input-container class="md-block">
                  <label>Relationship</label>
                  <input>
                </md-input-container>
              </div>
            </div>
            <md-input-container class="md-block">
              <label>Address</label>
              <input>
            </md-input-container>
            <div class="row">
              <div class="col-sm-4">
                <md-input-container class="md-block">
                  <label>City</label>
                  <input>
                </md-input-container>
              </div>
              <div class="col-sm-4">
                <md-input-container class="md-block">
                  <label>Pincode</label>
                  <input type="number">
                </md-input-container>
              </div>
              <div class="col-sm-4">
                <md-input-container class="md-block">
                  <label>Country</label>
                  <md-select ng-model="ctrl.userState">
                    <md-option value="IN">IN</md-option>
                    <md-option value="US">US</md-option>
                    <md-option value="UK">UK</md-option>
                    <md-option value="SP">SP</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <div class="guardian-form">
              <div class="row">
                <div class="col-sm-6">
                  <md-input-container class="md-block">
                    <label>Guardian Name</label>
                    <input>
                  </md-input-container>
                </div>
                <div class="col-sm-6">
                  <md-input-container class="md-block">
                    <label>Guardian PAN</label>
                    <input>
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>
          <div class="next-button text-right">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="nominee=false;regulatory=true;document=false;verification=false;">Next</md-button>
          </div>
        </div>

        <div class="regulatory-details" ng-show="regulatory" ng-hide="nominee || document || verification">
          <!-- <h4 layout-align="start" class="text-uppercase blue">Regulatory Details</h4> -->
          <div class="row">
            <div class="birth-place col-md-4">
              <md-input-container>
                <label>Place of Birth</label>
                <input>
              </md-input-container>
            </div>
            <div class="birth-country col-md-4">
              <md-input-container>
                <label>Country</label>
                <md-select ng-model="ctrl.userCountry">
                  <md-option value="IN">IN</md-option>
                  <md-option value="US">US</md-option>
                  <md-option value="UK">UK</md-option>
                  <md-option value="SP">SP</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="gross-income col-md-4">
              <md-input-container>
                <label>Gross Annual Income</label>
                <md-select ng-model="ctrl.userIncome">
                  <md-option value="10000">10,000</md-option>
                  <md-option value="15000">15,000</md-option>
                  <md-option value="20000">20,000</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="net-worth col-md-4">
              <md-input-container>
                <span class="inr"><i class="fa fa-inr"></i></span>
                <input type="number" placeholder="Net Worth (Optional):" aria-label="Net Worth">
              </md-input-container>
            </div>
            <div class="occupation col-md-4">
              <md-input-container>
                <label>Occupation</label>
                <md-select ng-model="ctrl.userOccupation">
                  <md-option value="IN">IN</md-option>
                  <md-option value="US">US</md-option>
                  <md-option value="UK">UK</md-option>
                  <md-option value="SP">SP</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="gender col-md-4">
              <md-input-container>
                <label>Gender</label>
                <md-select ng-model="ctrl.userGender">
                  <md-option value="male">Male</md-option>
                  <md-option value="female">Female</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="politically-exposed col-md-6">
              <md-input-container>
                <label>Are you a Politically Exposed Person?</label>
                <md-select ng-model="ctrl.userPolitical">
                  <md-option value="yes">Yes</md-option>
                  <md-option value="no">No</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="tax-country col-md-6">
              <md-input-container>
                <label>Is your Country of Tax Residency other than India?</label>
                <md-select ng-model="ctrl.userTax">
                  <md-option value="yes">Yes</md-option>
                  <md-option value="no">No</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="marital-status col-md-4">
              <md-input-container>
                <label>Marital Status</label>
                <md-select ng-model="ctrl.userMarital">
                  <md-option value="single">Single</md-option>
                  <md-option value="married">Married</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="natioanlity col-md-4">
              <md-input-container>
                <label>Nationality</label>
                <md-select ng-model="ctrl.userNationality">
                  <md-option value="indian">Indian</md-option>
                  <md-option value="american">American</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="tax-status col-md-4">
              <md-input-container>
                <label>Tax Status</label>
                <md-select ng-model="ctrl.userTaxStatus">
                  <md-option value="1"></md-option>
                  <md-option value="2"></md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="next-button text-right">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="nominee=false;regulatory=false;document=true;verification=false;">Next</md-button>
          </div>
        </div>

        <div class="document-upload" ng-show="document" ng-hide="nominee || regulatory || verification">
          <!-- <h4 layout-align="start" class="text-uppercase blue">Document Upload</h4> -->
          <div class="document-one row">
            <div class="passport-photo col-md-4">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">Passport size photograph</span>
              </md-button>
            </div>
            <div class="address-per col-md-4">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">Address Proof (Permanant)</span>
              </md-button>
            </div>
            <div class="address-cor col-md-4">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">Address Proof (Corresponance)</span>
              </md-button>
              <md-checkbox md-no-ink aria-label="Same as Permanant Address" class="same" layout="row">
                Same as Permanant Address
              </md-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="address-type col-md-6">
              <md-input-container>
                <label>Address Type</label>
                <md-select ng-model="ctrl.userAddress">
                  <md-option value="residential">Residential</md-option>
                  <md-option value="commercial">Commercial</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="bank-name col-md-6">
              <md-input-container>
                <label>Bank Name</label>
                <md-select ng-model="ctrl.userBank">
                  <md-option value="axis">AXIS</md-option>
                  <md-option value="hdfc">HDFC</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="pan-card col-md-6">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">PAN Card</span>
              </md-button>
            </div>
            <div class="cancelled-cheque col-md-6">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">Cancelled Cheque</span>
              </md-button>
            </div>
          </div>
          <div class="next-button text-right">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="nominee=false;regulatory=false;document=false;verification=true;">Submit</md-button>
          </div>
        </div>

        <div class="verification" ng-show="verification" ng-hide="nominee || regulatory || document">
          <p>We have got all the information required to activate your account. We will be sending your documents shortly for physical verification.</p>
        </div>
      </div>
    </div>
  </div>
</div>
