<div class="blue-back"></div>
<div class="profile">
  <div ng-init='httpMethod=POST;howToSend = 1;'></div>
  
  <div class="user-profile">
    <div class="container">
      <div class="user-detail" layout="row">
        <div class="user-image">
          <img src="img/referrals/5.png" alt="" class="img-responsive img-circle md-whiteframe-2dp" />
        </div>
        <h3>Jonathon	Owen</h3>
      </div>
      <div class="user-form md-whiteframe-2dp">
        <div class="navigation-tabs">
          <div class="progress-bar">{{variableProgress}}
            <div class="determinate" ng-style="{'width':progress+'%'}"></div>
          </div>
          <div class="tab-one text-center" ng-click="changeTab(0)" ng-class="{'active': tabs[0].active}">
            <p class="tab-icon"><i class="material-icons {{tabs[0].status.colorclass}}">{{tabs[0].status.fontname}}</i></p>
            <p>Registration</p>
          </div>
          <div class="tab-two text-center"  ng-click="changeTab(1)" ng-class="{'active': tabs[1].active}">
            <p class="tab-icon"><i class="material-icons {{tabs[1].status.colorclass}}">{{tabs[1].status.fontname}}</i></p>
            <p>Nominee<br>Details</p>
          </div>
          <div class="tab-three text-center"  ng-click="changeTab(2)" ng-class="{'active': tabs[2].active}">
            <p class="tab-icon"><i class="material-icons {{tabs[2].status.colorclass}}">{{tabs[2].status.fontname}}</i></p>
            <p>Regulatory<br>Details</p>
          </div>
          <div class="tab-four text-center"  ng-click="changeTab(3)" ng-class="{'active': tabs[3].active}">
            <p class="tab-icon"><i class="material-icons {{tabs[3].status.colorclass}}">{{tabs[3].status.fontname}}</i></p>
            <p>Document<br>Upload</p>
          </div>
          <div class="tab-five text-center"   ng-class="{'active': tabs[4].active}">
            <p class="tab-icon"><i class="material-icons {{tabs[4].status.colorclass}}">{{tabs[4].status.fontname}}</i></p>
            <p>Verification</p>
          </div>
        </div>
        <div class="nominee-details" ng-show="tabs[1].active">
          <form name="nomineeForm" ng-submit="addNomineeDetails(nomineeForm)">
          <div layout="row" class="nominee-first">
            <md-checkbox md-no-ink id="nonom" ng-model= "nominee.nonominee" ng-true-value="true" ng-false-value="false" ngT ng-change="emptyNominees(nominee.nonominee);" aria-label="No Nominee">
              No Nominee
            </md-checkbox>
            <md-button ng-click ="addNominees();" class="md-icon-button md-fab md-mini  md-whiteframe-2dp add-nominee" aria-label="Add Nominee" ng-class="{'md-primary':!nominee.nonominee}" ng-disabled="nominee.nonominee">
              <i class="material-icons">add</i>
              <md-tooltip md-direction="top">
                  Add Nominee
              </md-tooltip>
            </md-button>

          </div>

  <div class="nominee-form"  ng-if="user.nominees.length !== 0">
  <div ng-repeat= "nominee in user.nominees">
    <div class="nominee-top">
      <span>Nominee {{$index + 1}}</span>
      <md-button class="md-raised md-delete pull-right" ng-click="deleteNominee($index)">Delete</md-button>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <md-input-container name="name"  class="md-block">
          <label>Name </label>
          <input required ng-model="nominee.name">
        </md-input-container>

      </div>
      <div class="col-sm-4" layout="row">
        <!-- <md-datepicker class="md-block" ng-model="user.submissionDate" md-placeholder="Birth Date">
        </md-datepicker> -->
        <md-input-container name="birthday" layout="column" flex="33">
          <label>Day</label>
          <md-select required ng-model="nominee.birthday">
            <md-option value="{{day}}" ng-repeat="day in birthDay">{{day}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container name="birthmonth" layout="column" flex="33">
          <label>Month</label>
          <md-select required ng-model="nominee.birthmonth" ng-change="onChangeMonth()">
            <md-option value="{{month}}" ng-repeat="month in birthMonth">{{month}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container name="birthyear" layout="column" flex="33">
          <label>Year</label>
          <md-select  required ng-model="nominee.birthyear">
            <md-option value="{{year}}" ng-repeat="year in birthYear">{{year}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-sm-4">
        <md-input-container name="relationship" class="md-block">
          <label>Relationship</label>
          <input required ng-model="nominee.relationship">
        </md-input-container>
      </div>
    </div>
    <md-input-container name="address" class="md-block">
      <label>Address</label>
      <input required ng-model="nominee.address">
    </md-input-container>
    <div class="row">
      <div class="col-sm-4">
        <md-input-container name="city" class="md-block">
          <label>City</label>
          <input required ng-model="nominee.city">
        </md-input-container>
      </div>
      <div class="col-sm-4">
        <md-input-container name="pincode"  class="md-block">
          <label>Pincode</label>
          <input type="number" required ng-model="nominee.pincode">
        </md-input-container>
      </div>
      <div class="col-sm-4">
        <md-input-container name="country" class="md-block">
          <label>Country</label>
          <md-select  required ng-model="nominee.country">

            <md-option value="IN">IN</md-option>
            <md-option value="US">US</md-option>
            <md-option value="UK">UK</md-option>
            <md-option value="SP">SP</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div class="guardian-form">
      <div class="row">
        <div class="col-sm-6">
          <md-input-container name="guardianname" class="md-block">
            <label>Guardian Name</label>
            <input required ng-model="nominee.guardianname">
          </md-input-container>
        </div>
        <div class="col-sm-6">
          <md-input-container name="guardianpan" class="md-block">
            <label>Guardian PAN</label>
            <input required ng-model="nominee.guardianpan">
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="next-button text-right">
    <span flex></span>
    <md-button type="submit" class="md-raised md-primary">Next</md-button>
  </div>
</form>
        </div>

        <div class="regulatory-details" ng-show="tabs[2].active">
          <!-- <h4 layout-align="start" class="text-uppercase blue">Regulatory Details</h4> -->
          <form name="regulatoryForm" ng-submit="addRegulatoryDetails(regulatoryForm)">
          <div class="row">
            <div class="birth-place col-md-4">
              <md-input-container name="placeofbirth">
                <label>Place of Birth</label>
                <input required ng-model="user.placeofbirth">
              </md-input-container>
            </div>
            <div class="birth-country col-md-4">
              <md-input-container name="country">
                <label>Country</label>
                <md-select required ng-model="user.country" ng-model="ctrl.userCountry">
                  <md-option value="IN">IN</md-option>
                  <md-option value="US">US</md-option>
                  <md-option value="UK">UK</md-option>
                  <md-option value="SP">SP</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="gross-income col-md-4">
              <md-input-container name="grossannualincome">
                <label>Gross Annual Income</label>
                <md-select required ng-model="user.grossannualincome" ng-model="ctrl.userIncome">
                  <md-option value="10000">10,000</md-option>
                  <md-option value="15000">15,000</md-option>
                  <md-option value="20000">20,000</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="net-worth col-md-4">
              <md-input-container name="networthoccupation">
                <span class="inr"><i class="fa fa-inr"></i></span>
                <input ng-model="user.networthoccupation" type="number" placeholder="Net Worth (Optional):" aria-label="Net Worth">
              </md-input-container>
            </div>
            <div class="occupation col-md-4">
              <md-input-container name="occupation">
                <label>Occupation</label>
                <md-select required ng-model="user.occupation" ng-model="ctrl.userOccupation">
                  <md-option value="IN">IN</md-option>
                  <md-option value="US">US</md-option>
                  <md-option value="UK">UK</md-option>
                  <md-option value="SP">SP</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="gender col-md-4">
              <md-input-container name="gender">
                <label>Gender</label>
                <md-select required ng-model="user.gender" ng-model="ctrl.userGender">
                  <md-option value="male">Male</md-option>
                  <md-option value="female">Female</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="politically-exposed col-md-6">
              <md-input-container name="political">
                <label>Are you a Politically Exposed Person?</label>
                <md-select required ng-model="user.political" ng-model="ctrl.userPolitical">
                  <md-option value="yes">Yes</md-option>
                  <md-option value="no">No</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="tax-country col-md-6">
              <md-input-container name="taxcountry">
                <label>Is your Country of Tax Residency other than India?</label>
                <md-select required ng-model="user.taxcountry" ng-model="ctrl.userTax">
                  <md-option value="yes">Yes</md-option>
                  <md-option value="no">No</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="marital-status col-md-4">
              <md-input-container name="maritalstatus">
                <label>Marital Status</label>
                <md-select required ng-model="user.maritalstatus" ng-model="ctrl.userMarital">
                  <md-option value="single">Single</md-option>
                  <md-option value="married">Married</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="natioanlity col-md-4">
              <md-input-container name="nationality">
                <label>Nationality</label>
                <md-select required ng-model="user.nationality" ng-model="ctrl.userNationality">
                  <md-option value="indian">Indian</md-option>
                  <md-option value="american">American</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="tax-status col-md-4">
              <md-input-container name="taxstatus">
                <label>Tax Status</label>
                <md-select required ng-model="user.taxstatus" ng-model="ctrl.userTaxStatus">
                  <md-option value="1">1</md-option>
                  <md-option value="2">2</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="next-button text-right">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" >Next</md-button>
          </div>
        </form>
        </div>

        <div class="document-upload" ng-show="tabs[3].active">
          <!-- <h4 layout-align="start" class="text-uppercase blue">Document Upload</h4> -->
          <div class="document-one row">
            <div class="passport-photo col-md-4">
              <md-button class="md-primary" aria-label="File">
                <input type="file" ng-file-select="">
                <span class="text-uppercase white">Passport size photograph</span>
              </md-button>
            </div>
            <div class="address-per col-md-4">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">Address Proof (Permanant)</span>
              </md-button>
            </div>
            <div class="address-cor col-md-4">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">Address Proof (Corresponance)</span>
              </md-button>
              <md-checkbox md-no-ink aria-label="Same as Permanant Address" class="same" layout="row">
                Same as Permanant Address
              </md-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="address-type col-md-6">
              <md-input-container>
                <label>Address Type</label>
                <md-select ng-model="ctrl.userAddress">
                  <md-option value="residential">Residential</md-option>
                  <md-option value="commercial">Commercial</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="bank-name col-md-6">
              <md-input-container>
                <label>Bank Name</label>
                <md-select ng-model="ctrl.userBank">
                  <md-option value="axis">AXIS</md-option>
                  <md-option value="hdfc">HDFC</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="pan-card col-md-6">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">PAN Card</span>
              </md-button>
            </div>
            <div class="cancelled-cheque col-md-6">
              <md-button class="md-primary" aria-label="File">
                <input type="file">
                <span class="text-uppercase white">Cancelled Cheque</span>
              </md-button>
            </div>
          </div>
          <div class="next-button text-right">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="summaryDialog();">Submit</md-button>
          </div>
        </div>

        <div class="verification" ng-show="tabs[4].active">
          <p class="text-center">We have got all the information required to activate your account. We will be sending your documents shortly for physical verification.</p>
        </div>
      </div>
    </div>
  </div>
</div>
