<div class="referral">
  <div class="referral-main">
    <div class="container">
      <!-- <div class="row"> -->
        <!-- <span class="text-uppercase referral-title blue">My Referrals</span> -->
        <!-- <md-button class="md-primary md-raised pull-right" md-ink-ripple="#ffffff" aria-label="Redeem">Redeem</md-button>
        <md-button class="md-primary md-raised pull-right" md-ink-ripple="#ffffff" aria-label="Points">Points: {{user.points}}</md-button>
      </div> -->
      <div class="all-referrals" ng-if='user.referred.length !== 0'>
        <div class="row">
          <div class="col-sm-3 col-xs-6" ng-repeat="ref in user.referred">
            <div class="referral-image text-center">
              <img src="img/referrals/1.png" alt="" class="img-responsive img-circle" />
              <p>{{ref.user.email}}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="referral-code md-whiteframe-2dp">
          <p>In case you are looking to create an investment plan for your goals do check out www.sortvest.com. You will need my referral code (<span class="text-bold">{{user.mobile}}</span>) to sign up.</p>

          <p>Or share the link <a href="{{origin}}/#/ref/{{user.mobile}}">{{origin}}/#/ref/{{user.mobile}}</a></p>
          <div class="copy-button text-right">
            <md-button ngclipboard data-clipboard-text="Use my code {{user.mobile}} to sign up & get Rs. 2000 points!Share the link {{origin}}/#/ref/{{user.mobile}} to get points." class="md-primary md-raised" md-ink-ripple="#ffffff" aria-label="Copy" ngclipboard-success="onSuccess(e);">Copy
              <md-tooltip md-visible="copy.copied" md-direction="top">
                  Done!
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
