<footer class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="foot-head white m-clear">Newsletter</h3>
        <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
        <div class="email">
          <form action="" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email Address">
              <button type="submit">Go!</button>
            </div>
            <div class="" style="display:none;">
              <h4>Thankyou for Subscribing.</h4>
            </div>
        </div>
        </form>
      </div>
      <div class="col-md-4">
        <h3 class="foot-head white m-clear">Contact Us</h3>
        <ul class="contact-detail">
          <li>
            <i class="fa fa-map-marker"></i>
            <address class="m-clear inline-block">
              <span>Address: </span>
              1234 Street Name, City Name, India
            </address>
          </li>
          <li><i class="fa fa-phone"></i>
            <span>Phone: <a href="tel:123456789" class="gray"> 123456789</a></span>
          </li>
          <li><i class="fa fa-envelope-o"></i>
          <span>Email: <a href="mailto:mail@example.com" class="gray">mail@example.com</a></span></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="foot-head white m-clear">Follow Us</h3>
        <div class="social-links">
          <ul>
            <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
