<!-- <div ng-include="template.headermenu" class="template headermenu"></div>
<div ng-include="template.header" class="template header"></div>
<div ng-include="template.slider" class="template slider"></div> -->
<div ng-include="template.header" class="template header"></div>
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <div ng-include="template.menu" class="template menu"></div>
</md-sidenav>
<section layout="row" class="section-main" flex>
  <div class="backdrop backdrop-extra" ng-hide="!progress.loading" style="" ng-controller="loadingCtrl">
    <md-progress-circular  style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; border-radius: 50%; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4); width: 100%; height: 100%; z-index: 100000;" md-mode="indeterminate" md-diameter="60px"></md-progress-circular>
  </div>
<md-content flex>
  <div ng-include="template.content" class="template content"></div>
</md-content>
</section>
<!-- <div ng-include="template.footermenu" class="template footermenu"></div>
<div ng-include="template.footer" class="template footer"></div> -->
