<section>
  <div class="summary-dialog">
    <h3 class="text-center text-uppercase">Forgot Password</h3>
    <md-divider></md-divider>
    <div>
      <form name="forgotpasswordForm" >
      <div class="form-group">
        <md-input-container class="md-block">
          <label class="text-uppercase">Email</label>
          <input type="email" ng-model="forgotpassword.email" id="email" name="email" required>
        </md-input-container>
      </div>
        <md-button type="submit" class="md-raised md-primary md-blue">Submit</md-button>
        </form>
    </div>
  </div>
  <!-- <button type="button" name="button" ng-click="closeDialog();"></button> -->
</section>
