<md-tabs md-selected="open.selectedIndex" md-dynamic-height md-stretch-tabs="always" class="registration">
  <md-tab label="Login">
    <md-content class="md-padding text-center">
      <form name="loginForm"  ng-submit="closeDialog();doLogin(login,$event);">
        <div class="form-group">
          <md-input-container class="md-block">
            <label class="text-uppercase">Email</label>
            <input type="email" ng-model="login.email" id="email" name="email" required>
          </md-input-container>
        </div>

        <div class="form-group">
          <md-input-container class="md-block">
            <label class="text-uppercase">Password</label>
            <input type="password" ng-model="login.password" id="password" name="password" required>

            <a style="cursor: pointer;float: right;text-decoration: none;" ng-click="closeDialog();forgotPasswordDialog();"> Forgot Password?</a></md-input-container>

        </div>

        <md-button type="submit"class="md-raised md-primary md-blue">Submit</md-button>
      </form>
  </md-tab>
  <md-tab label="Signup">
    <md-content class="md-padding text-center">
      <form name="signupForm" ng-submit="doSignup(signup,signupForm,$event);closeDialog();">
        <div class="form-group">
         <md-input-container class="md-block">
           <label class="text-uppercase">Email</label>
           <input type="email" ng-model="signup.email" id="email" name="email" required>
         </md-input-container>
       </div>
        <div class="form-group">
          <md-input-container class="md-block">
            <label class="text-uppercase">Phone</label>
            <input type="tel" ng-model="signup.mobile" id="mobile" name="mobile" required>
          </md-input-container>
        </div>

        <div class="form-group">
          <md-input-container class="md-block">
            <label class="text-uppercase">Referral Code</label>
            <input type="text" ng-model="signup.referralCode" id="referralCode" name="referralCode" required>
          </md-input-container>
        </div>

        <div class="form-group">
          <md-input-container class="md-block">
            <label class="text-uppercase">Password</label>
            <input type="password" ng-model="signup.password" id="password" name="password" required>
          </md-input-container>
        </div>

        <div class="form-group">
          <md-input-container class="md-block">
            <label class="text-uppercase">Confirm Password</label>
            <input type="password" ng-model="signup.cfpassword" id="password" name="cfpassword" required>
          </md-input-container>
        </div>

        <md-button type="submit" class="md-raised md-primary md-blue">Submit</md-button>
      </form>
    </md-content>
  </md-tab>
</md-tabs>
