<section>
  <div class="summary-dialog">
    <h3 class="text-center text-uppercase">Summary</h3>
    <md-divider></md-divider>

    <div class="nominee-details-summary">
      <h4 class="blue text-uppercase">Nominee Details</h4>
      <div class="individual-nominee-summary">
        <p>Nominee 1</p>
        <span class="bold">Name:</span>
        <span class=right-space>Vikas Mehra</span>
        <span class="bold">Birth Date:</span>
        <span class=right-space>10/2/1999</span>
        <span class="bold">Relationship:</span>
        <span class=right-space>Friend</span>
        <span class="bold">Address:</span>
        <span class=right-space>A/30, Ganesh Apt., LBS Marg, Ghatkopar (W)</span>
        <span class="bold">City:</span>
        <span class=right-space>Mumbai</span>
        <span class="bold">Pincode:</span>
        <span class=right-space>400086</span>
        <span class="bold">Country:</span>
        <span class=right-space>India</span>
        <span class="bold">Guardian Name:</span>
        <span class=right-space>Vaibhav Mehra</span>
        <span class="bold">Guardian PAN:</span>
        <span class=right-space>ANRPM2537J</span>
      </div>
    </div>

    <div class="regulatory-details-summary">
      <h4 class="blue text-uppercase">Regulatory Details</h4>
      <span class="bold">Place of Birth:</span>
      <span class="right-space">Mumbai</span>
      <span class="bold">Country of Birth:</span>
      <span class="right-space">India</span>
      <span class="bold">Gross Annual Income:</span>
      <span class="right-space">5-10 lacs</span>
      <span class="bold">Net Worth (Optional):</span>
      <span class="right-space"><i class="fa fa-inr"></i>60,000</span>
      <span class="bold">Occupation:</span>
      <span class="right-space">Business</span>
      <span class="bold">Are you a Politically Exposed Person?</span>
      <span class="right-space">No</span>
      <span class="bold">Is your Country of Tax Residency other than India?</span>
      <span class="right-space">No</span>
      <span class="bold">Gender:</span>
      <span class="right-space">Male</span>
      <span class="bold">Marital Status:</span>
      <span class="right-space">Single</span>
      <span class="bold">Nationality:</span>
      <span class="right-space">India</span>
      <span class="bold">Tax Status:</span>
      <span class="right-space">Yes</span>
    </div>

    <div class="document-upload-summary">
      <h4 class="blue text-uppercase">Document Upload</h4>
      <span class="bold">Passport Style Photograph:</span>
      <span class="right-space"><i class="material-icons color-success">done</i></span>
      <span class="bold">Address Proof (Permanant):</span>
      <span class="right-space"><i class="material-icons color-success">done</i></span>
      <span class="bold">Address Proof (Correspondant):</span>
      <span class="right-space"><i class="material-icons color-success">done</i></span>
      <span class="bold">Address Type:</span>
      <span class="right-space">Residential</span>
      <span class="bold">PAN Card:</span>
      <span class="right-space"><i class="material-icons color-success">done</i></span>
      <span class="bold">Bank Name:</span>
      <span class="right-space">HDFC Bank</span>
      <span class="bold">Cancelled Cheque:</span>
      <span class="right-space"><i class="material-icons color-success">done</i></span>
    </div>

    <div class="summary-terms">
      <md-checkbox md-no-ink aria-label="" class="terms">
        <span>The information provided herein is true  my knowledge. I take full responsibility of any information given by me here.</span>
      </md-checkbox>
    </div>

    <div class="summary-buttons text-right">
      <md-button type="submit" class="md-raised md-blue text-uppercase" ng-click="closeDialog();">Edit</md-button>
      <md-button type="submit" class="md-raised md-blue text-uppercase" ng-click="closeDialog();">Confirm</md-button>
    </div>
  </div>
  <!-- <button type="button" name="button" ng-click="closeDialog();"></button> -->
</section>
